@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.button-link{
  background-color: #0D99FF;
  color: #FFF;
  border-radius: 10px;
  transition: 0.5s ease;
}

.button-link:hover{
  background-color: rgba(13, 153, 255, 0.78);
}

/* header */
header{
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav{
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
}

.nav__menu-list{
  display: flex;
  flex-direction: column;
}

.nav__link{
  font-size: 18px;
  position: relative;
}

.nav__link::before{
  content: "";
  position: absolute;
  width: 0;
  height: 6px;
  bottom: -16px;
  left: 0;
  background-color: black;
  transition: all 0.9s;
}

.nav__link:hover::before{
  font-size: 18px;
  position: relative;
  width: 100%;
}

/* @Media Query */
@media screen and (min-width: 768px){
  header{
    background-color: red;
  }

  .nav__menu-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
    text-decoration: none;
  }

  .nav__link{
    text-decoration: none;
  }
}