@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-link{
  background-color: #0D99FF;
  color: #FFF;
  border-radius: 10px;
  transition: 0.5s ease;
}

.button-link:hover{
  background-color: rgba(13, 153, 255, 0.78);
}

/* header */
header{
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav{
  display: flex;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #F1F1F1;
}

.nav__menu-bar{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-bar div{
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 2px;
}

.nav__menu-list{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  width: 288px;
  row-gap: 24px;
  padding: 24px 16px;
  right: -288px;
  background-color: #F1F1F1;
  min-height: calc(100vh - 60px);
  transition: all 0.2s;
}

.nav__menu-list{
  right: 0;
}

.nav__link{
  font-size: 18px;
  position: relative;
  text-decoration: none;
  transition: all 0.2s;
}

.nav__link:hover{
  font-weight: bold;
}

.nav__link::before{
  content: "";
  position: absolute;
  width: 0;
  height: 6px;
  bottom: -16px;
  left: 0;
  background-color: black;
  transition: all 0.9s;
}

.nav__link:hover::before{
  font-size: 18px;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 768px){
  header{
    background-color: red;
    height: 100px;
  }

  .nav__menu-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 24px;
    text-decoration: none;
  }

  .nav__link{
    text-decoration: none;
  }

  .nav__link::before{
    content: "";
    position: absolute;
    width: 0%;
    bottom: -16px;
    left: 0;
    height: 6px;
    transition: all 0.2s;
    background-color: black;
  }
  
  .nav__link:hover::before{
    font-size: 18px;
  }
}


/* Good code */
.homepage{
  display: flex;
  flex-direction: column;
}

.noFound {
  background-color: red;
  font-size: 30px;
}