body{
    font-size: 18px;
}

.main{
    /* background-color: red; */
    background-image: url('../img/people.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.blog__main{
    color: white;
    height: 100vh;
    background-color: rgba(17, 11, 11, 0.56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 70px;
    width: 100%;    
}

.blog__main h2{
    font-size: 38px;
    margin: 0 0 30px 0;
    color: rgba(255, 255, 255, 0.87);
    width: 70%;

}

.blog__main div{
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.68);
    margin-bottom: 30px;
    width: 70%;
}

.signup__main{
    text-decoration: none;
    background-color: rgba(13, 153, 255, 0.65);
    width: 110px;
    color: white;
    padding: 6px 0;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
}
.signup__main:hover{
    background-color: rgba(13, 153, 255, 0.35);
    color: rgba(255, 255, 255, 0.87);
}


@media screen and (max-width: 768px) {
    .blog__main h2{
        width: 100%;
        text-align: center;
    }
    .blog__main div{
        width: 100%;
        text-align: center;
    }
    .signup__main{
        margin: 0 auto;
    }
}

@media screen and (max-width: 715px){
    .blog__main h2{
        font-size: 27px;
    }
    .blog__main div{
        width: 100%;
        text-align: center;
        font-size: 17px;
    }
    .blog__main{
        padding: 0 20px;
    }
}


@media screen and (max-width: 450){
    .blog__main h2{
        font-size: 23px;
    }
    .blog__main div{
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
}

@media screen and (max-width: 310px){
    .blog__main h2{
        font-size: 20px;
    }
    .blog__main div{
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
}

