body{
    font-size: 18px;
}

.project__conatiner{
    padding: 0 70px 50px;
    height: auto;
    position: relative;
    
}

.present__project{
    width: 50px;
    margin: 70px auto 30px;
}

.top_img_title{
    text-align: center;
}

.top_img_title h2{
    font-size: 34px;
    font-weight: bold;
    margin: 0 0 40px 0;
}

.container__card-project{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.image__project{
    border-radius: 3px;
}

.card__project{
    width: 24%;
    height: auto;
    background-color: rgba(242, 246, 252, 0.20);
    margin: 10px 0;
    box-shadow: 0px 0 5px rgba(0, 0, 0, 0.17);
    cursor: pointer;
    border-radius: 3px;
}

.card__project:hover{
    background-color: rgb(226, 231, 238);
    transition: all 0.2s ease-in-out;
}

.image__user{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.user__info{
    display: flex;
    align-items: center;
    margin: 10px 4px 0 4px;
    font-weight: bold;
}

.contains__card p{
    padding: 10px 4px;
    font-size: 16px;
}


@media screen and (max-width: 768px){
    .project__conatiner{
        padding: 0 20px;
    }
    .card__project{
        width: 48%;
    }
}

@media screen and (max-width: 640px){
    .card__project{
        width: 100%;
    }
}


@media screen and (max-width: 280px){
    .top_img_title h2{
        font-size: 20px;
    }
}
