.signup__container {
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  /* padding: 100px 0; */
  position: relative;
}

.blog__signup-container {
  width: 68%;
  display: flex;
  position: absolute;
  top: 200px;
}

.img__signup,
.form__form-signup {
  width: 50%;
}

.auth__signup {
  margin: auto;
}

.img__signup,
.form__form-signup {
  width: 50%;
}

.img__signup h2 {
  text-align: center;
}



@media screen and (max-width: 1024px) {
  .blog__signup-container{
      margin: 0;
      padding: 0;
      top: 120px;
  }
}


@media screen and (max-width: 820px) {
    .blog__signup-container{
        margin: 0;
        padding: 0;
        top: 200px;
    }
}


@media screen and (max-width: 768px) {
  .signup__container {
    width: 100%;
  }
  .blog__signup-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 120px;
  }

  .form__form-signup,
  .img__signup {
    margin: auto;
  }

  .auth__signup {
    display: none;
  }

  .form__form-signup {
    width: 100%;
    padding: 0 70px;
  }
}

@media screen and (max-width: 280px){
  .signup__container{
      width: 100%;
      padding: 0;
  }
  .blog__signup-container{
      width: 100%;
      padding: 0;
      top: 10px;
  }
  .blog__signup-container h2{
    padding: 100px 0 0 0;
  }
  .message__signin{
    display: none;
  }
  .form__form-signup{
      width: 100%;
      padding: 20px;
  }
}
