.containers {
  padding: 80px 70px;
  display: flex;
  width: 90%;
  height: 100vh;
  /* background-color: rebeccapurple; */
  margin-top: 40px;
}

.formsignup {
  background-color: rgba(13, 153, 255, 0.21);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formsignup h2 {
  font-size: 27px;
}

.img-signup h2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.fullname {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}

.adress,
.email,
.phone,
.password {
  width: 90%;
  margin: auto;
}

.fullname div {
  width: 49%;
}

.msg__account {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: auto;
}

.auth {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.img-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.message-signup {
  margin: auto;
  padding: 0 100px;
  text-align: center;
}

.containers p {
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  width: 90%;
  margin: 13px auto 13px;
}

@media screen and (max-width: 1005px) {
  .containers {
    background-color: #fff;
    padding: 80px 70px;
    display: flex;
    width: 100%;
  }

  .fullname div {
    width: 100%;
  }

  .msg__account {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: auto;
  }

  .fullname,
  .email,
  .phone,
  .password {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .button {
    width: 100%;
  }

  .auth {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .img-signup {
    padding: 0 60px;
    width: 50%;
  }
}

@media screen and (max-width: 812px) {
  .img-signup h2 {
    font-size: 28px;
  }
  .msg__account {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 733px) {
  .containers {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .msg__account {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: auto;
  }

  .img-signup,
  .form {
    width: 100%;
  }

  .auth {
    display: none;
  }

  .img-signup {
    width: 100%;
    padding: 0;
  }

  .message-signup {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .img-signup p {
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .containers {
    padding: 0;
  }

  .form {
    padding: 0 20px;
  }
  .msg__account{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 280px) {
  .containers {
    padding: 0;
  }

  .form {
    padding: 0 20px;
  }

  .img-signup h2 {
    font-size: 23px;
    margin-top: 26px;
  }

  .img-signup p {
    padding: 0 25px;
    font-size: 14px;
  }
  .msg__account{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: auto;
  }
}
