.sigin__container{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.blog__container{
    width: 68%;
    display: flex;
    position: absolute;
    top: 200px;
}

.img__signin, .form__form{
    width: 50%;
}

.form__button{
    width: 100%;
    margin: 15px 0;
}

.img__signin h2{
    margin-bottom: 43px;
    text-align: center;
}

.message__signin{
    margin-top: 30px;
    text-align: center;

}

.auth__signin{
    margin: auto;
}

.google{
    display: block;
    text-decoration: none;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #d64a37;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.google:hover{
    background-color: rgba(214, 74, 55, 0.76);
}

.icon__google{
    position: absolute;
    left: 10px;
    color:#d64a37;
    color: white;
}

.link__signin{
    margin: 10px 0;
}

@media screen and (max-width: 820px) {
    .sigin__container{
        width: 100%;
        margin: 50px 0;
    }

    .blog__container{
        padding: 0;
        margin: 0;
        top: 150px;
    }
}

@media screen and (max-width: 768px){
    .sigin__container{
        width: 100%;
    }
    .blog__container{
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 70px;

    }
    .auth__signin{
        display: none;
    }
    .form__form, .img__signin{
        margin: auto;
    }

    .form__form{
        width: 100%;
        padding: 0 70px;
    }
}

@media screen and (max-width: 640px) {
    .sigin__container{
        width: 100%;
    }
    .form__form{
        margin: auto;
    }
    .blog__container{
        top: 70px;
    }
}

@media screen and (max-width: 280px){
    .sigin__container{
        width: 100%;
        padding: 0;
    }
    .blog__container{
        width: 100%;
        top: 30px;
    }
    .form__form{
        width: 100%;
        padding: 0 20px;
    }
    .img__signin h2{
        padding: 43px 0 0 0;
        text-align: center;
        font-size: 20px;
    }
}



